
    <!-- Topbar Start -->
    <div class="container-fluid">

        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-warning bg-dark px-2">Mart</span>
                    <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">X</span>
                </a>
            </div>
              
        </div>
    </div>