<%- include('includes/adminIncludes/adminHeader.ejs') %>
</head>
<body>
  <%- include('includes/adminIncludes/adminNav.ejs') %>
  <%- include('includes/adminIncludes/adminSidebar.ejs') %>

  
<h1 class="text-white text-center">888888888888888888888</h1>


<%- include('includes/adminIncludes/adminFooter.ejs') %>
