<link rel="stylesheet" href="sass/internal_500.sass">
<div>
    <span class='error-num'>5</span>
    <div class='eye'></div>
    <div class='eye'></div>
    <p class='sub-text'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
    <a href='/'>Go back</a>
  </div>


  <script src="/javaScript/internalServer_500.js"></script>
