<!-- <%- include('includes/userIncludes/userHeader.ejs') %>
</head>
<body>
  <%- include('includes/userIncludes/logo.ejs') %>
<link rel="stylesheet" href="404.css">

<p class="center">Space Invadors destroyed this page! Take revenge on them!
    <br/> Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>
  
  <canvas id="space-invaders">

  <script src="/javaScript/server404.js"></script> -->


 <!DOCTYPE html>
<html>
<head>
  <title>404 Not Found</title>
</head>
<body>
  <h1>404 Not Found</h1>
  <p>The requested page does not exist.</p>
</body>
</html> 