<div class="container-fluid">
<h1 class="text-center justify-content-center">Order Placed</h1>
<div class="row justify-content-center">
    <div class="col-auto"style="width: 500px;">
        <a href="/" class="btn btn-block btn-warning font-weight-medium my-2 py-2">Continue Shopping</a>
    </div>
</div>
</div>