<%- include('includes/userIncludes/userHeader.ejs') %>
</head>
<body>
 <div class="container-fluid position-relative d-flex p-0">
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center" style="min-height: 10vh;">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <a href="/" class="">
                          <h3 class="text-white"><i class="fa fa-user-edit me-2"></i>MartX</h3>
                      </a>
                      <h3>LogIn</h3>
                  </div>
                  <form action="/generateLoginOTP" method="post">
                    <div class="form-floating mb-3">
                      <input type="tel" class="form-control" id="floatingNumber" placeholder="+91630" name="number" style="width: 100%;">
                      <label for="floatingNumber">Phone Number</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Verify</button>
                  </form>
                  
                  <form action="/verifyLoginOTP" method="post">
                    <label for="floatingOTP">OTP</label>
                    <div class="form-floating mb-3">
                      <div class="d-flex justify-content-center">
                        <input type="number" name="otp" id="ist" maxlength="1" onkeyup="clickEvent(this,'sec')" onclick="stopPropagation(event)">
                        <input type="number" name="otp" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')" onclick="stopPropagation(event)">
                        <input type="number" name="otp" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')" onclick="stopPropagation(event)">
                        <input type="number" name="otp" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')" onclick="stopPropagation(event)">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Submit</button>
                  </form>
                  
                </div>
            </div>
          </div>
      </div>
  </div>


<!-- 
  <form action="/userLogin" method="POST">
    <div class="form-floating mb-3">
    <input type="text" name="username"class="form-control" id="floatingInput" placeholder="Username" required><br>
</div>
<div class="form-floating mb-3">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required><br>
</div>
<div class="form-floating mb-3">
    <button type="submit">Login</button></div>
  </form> -->

  <%- include('includes/userIncludes/userFooter.ejs') %>




<!-- const accountSid = 'AC3264fb3d6de096b63b269955287ade71';
const authToken = '[AuthToken]';
const client = require('twilio')(accountSid, authToken);

client.messages
    .create({
        body: `Your OTP verification for MartX.com is ${generatedOTP}`,
        from: 'whatsapp:+14155238886',
        to: 'whatsapp:+916282335930'
    })
    .then(message => console.log(message.sid))
    .done(); -->